.env
.venv/
venv/
__pycache__/
*.py[cod]
.python-version
.pytest_cache/
.mypy_cache/
.ruff_cache/
.idea/
.vscode/
.ipynb_checkpoints/
.DS_Store

embeddings_index/*
!embeddings_index/.gitkeep

data/in/*
!data/in/.gitkeep

data/out/*
!data/out/.gitkeep

finance-files/*
!finance-files/.gitkeep
